.color-black-100{
    color: var(--cor-preto-100);
}
.color-black-50{
    color: var(--cor-preto-50);
}
.color-white-100{
    color: var(--cor-branco-100);
}
.color-white-50{
    color: var(--cor-branco-50);
}
.bg-brown-100{
    background-color: var(--cor-marron-100);
}
.bg-brown-50{
    background-color: var(--cor-marron-75);
}
.bg-black-100{
    background-color: var(--cor-preto-50);
}
.bg-white-50{
    background-color: var(--cor-branco-50);
}
.bg-white-100{
    background-color:var(--cor-branco-100);
}