@media screen and (max-width: 860px) {
    .img-motel{
        margin: 0;
    }
}

@media screen and (max-width: 576px) {
    .img-motel{
    width:100vw;
    height: 312px;
    }
    .banner-left{
    max-width:80%;
    margin-bottom: 64px;
    transform: translateY(-15px);
    }
    .card-localization{
        width:312px;
        max-height :234px;
    }
    .card-map{
        width:312px;
        min-height :312px;
    }
    .footer{
        min-height:106px;
    }
    nav{
        justify-content: space-around;
        background-color:#2A2A2A;
        height: 70px;
    }
    .btn-toggle{
        display: block;
        margin-right:32px;
    }
    .container-logo{
        margin-left: 32px;
    }
    .btn-navbar,.logo{
        margin: 0;
    }
    .btn-navbar{
        width: 105px;
        height: 45px;
        background-color:#7A7266;
        color:#FFFFFF;
    }
    .main-text {
        font-size: 52px;
        text-align: center;
    }
    .side-text {
        font-weight: 500;
        font-size: 18px;
    }
    .card-suites{
        width: 280px;
        min-height: 195px; 
        flex-direction: column;
    }
    .card-cortesia{
        width: 312px;
        min-height: 377px;
    }
}

