/*Reset CSS*/
*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Playfair Display', serif; */
}

/* Variáveis CSS */
:root {
    --cor-marron-primario:#5A493E;
    --cor-marron-secundario:#7A7266;
    --cor-marron-terciario:#6C6359;
    --cor-preto-primario:#2A2A2A;
    --cor-preto-secundario:#000000;
    --cor-branco-primario:#FFFFFF;
    --cor-branco-secundario:#EEEEEE;

}

/* .text-primary{
    color:var(--cor-marron-primario) !important;
} */

/* Configurações Gerais */
button{
    border: none;
    cursor: pointer;
    background-color: var(--cor-branco-primario);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;

}

a{
    text-decoration: none;
    color: var(--cor-branco-primario);
    margin-bottom: 16px;
    font-size: 14px;
}

/* Seção 01 do Site  */
.wrap-home{
    height: 100vh;
    background-image: url("../imgs/slider-d.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

ul{
    display: flex;
    list-style: none;
    cursor: pointer;
}
li{
    margin: 0 24px;
    color: var(--cor-branco-primario);
}
li:hover{
    color:var(--cor-marron-primario);
}

.logo{
    display: block;
    width:113.4px;
    height: 22.48px;
    margin-left: 70px;
}

.btn-navbar{
    width: 96px;
    height: 45px;
    margin-right:86px;
    padding: 12px 16px;
}

.btn-toggle{
    display:none;
}


.wrap-img-banner{
    width: 100%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

}

.side-text, .main-text{
    font-family: 'Playfair Display', serif; 
    color:var(--cor-branco-primario);
}
.main-text{
    font-weight: 600;
    font-size: 67px;
}

.side-text{
    font-weight: 500;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.btn-banner{
    width: 160px;
    height: 41px;
    padding: 12px 16px;
    color: var(--cor-branco-primario);
}

.btn-banner-1{
    background-color:var(--cor-marron-secundario) ;
    margin-right: 8px;
}
.btn-banner-2{
    background-color:var(--cor-marron-primario) ;
    margin-left: 8px;
}


.wrap-suites{
    height: 100vh;
    background-color:var(--cor-marron-secundario);
}




.wrap-motel{
    background-color:var(--cor-branco-secundario);
    min-height: 704px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.banner-left{
    background-color: var(--cor-branco-primario);
    max-width:568px;
    min-height:512px;
    padding: 72px 32px;
    margin: 0;
}

.img-motel{
    max-width:568px;
    height:512px;
    object-fit: cover;
    margin-bottom:32px;
    padding: 0;
    transition: all 1s;
}

.img-motel:hover{
    transform: scale(1.02) rotate(0.5deg);
    
}



.main-text-motel{
    color: var(--cor-preto-primario);
    font-weight: 600;
    font-size: 34px;
}

.side-text-motel{
    color: var(--cor-preto-primario);
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}

.btn-motel{
    margin-top: 24px;
    width: 109px;
    height: 41px;
    background-color: var(--cor-marron-secundario);
    color: var(--cor-branco-primario);
}


.wrap-cortesias{
    background-color:var(--cor-marron-secundario);
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cards-area{
    width: 100%;
    margin-bottom:32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.cards-area div{
    
}

.wrap-cortesias h3{
margin-top: 64px;
margin-bottom: 32px;
color: var(--cor-branco-primario);
font-size: 34px;
font-weight: 600;
 font-family: 'Playfair Display', serif;
}

.wrap-cortesias button{
    margin-bottom: 76px;
    width: 185px;
    height: 45px;
    background-color: var(--cor-preto-primario);
    color: var(--cor-branco-primario);
}


.title-card{
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    color: var(--cor-preto-primario);
}

.my-5{
    margin:80px 0 !important;
}

.h-25{
    height: 41px !important;
}

.color-black-50{
    color: var(--cor-preto-primario);
}

.color-black-100{
    color: var(--cor-preto-secundario);
}

.color-white-100{
    color: var(--cor-branco-primario);
}

.bg-brown-100{
    background-color: var(--cor-marron-primario);
}

.bg-black-100{
    background-color: var(--cor-preto-primario);
}

.bg-white-50{
    background-color: var(--cor-branco-secundario);
}
.bg-white-100{
    background-color:var(--cor-branco-primario);
}

.font-family-mont{
    font-family: 'Montserrat', sans-serif;
}
.font-family-play{
    font-family: 'Playfair Display', serif;
}



.card{
    cursor: pointer;
}
div .card:hover{
    transform: scale(0.95);
    filter: grayscale(0.2);
}

button:active{
    transform: scale(0.95);
}

.btn-footer{
    max-width:296px;
    margin:10px;
    padding: 16px 32px;
}

.btn-outline{
    border: 1px solid white;
    background-color: var(--cor-preto-primario);
}

.btn-fill{
    background-color: var(--cor-marron-secundario);
}


.card-localization{
    width:312px;
    height :234px;
}

.card-map{
    width:312px;
    height:312px;
    
}
}